.container {
    border: 1px solid #000;
    width: 750px;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
}

#input {
    height: 36px;
    width: 600px;
    padding: 10px;
}

#button {
    font-size: 25px;
    background-color: #da7fb7;
    border: none;
    width: 50px;
    height: 50px;
    color: #fff;
}

.inserir-tarefa {
    display: flex;
    align-items: center;
    gap: 7px;
}

.delete {
    border: none;
    background-color: #6b0136;
    color: #fff;
}

.tarefa {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
